html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}header {
    background-color: white;
    color: black;
    font-size: small;
    height: 10%;
}

.container{
    background-color: rgb(34, 105, 236);
    height: 75%;
    position: relative;
    text-align: center;
}

.hello{
    /* color: white; */
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer{
    position: relative;
    text-align: right;
    height: 15%;
    background-color: dimgray;
}

footer p{
    position: absolute;
    margin-top:  0;
    margin-bottom: 0;
    color: white;
    right: 5%;
    bottom: 0;    
}