html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}header {
    background-color: white;
    color: black;
    font-size: small;
    font-family: monospace;
    height: 10%;
}

.containerc1{
    background-color: rgb(34, 105, 236);
    height: 75%;
    position: relative;
    text-align: center;
}

.containerc2{
    background-color: rgb(221, 169, 27);
    height: 75%;
    display: none;
}

.hello{
    /* color: white; */
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.containerc2 h1{
    height: 10%;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.btns{
    height: 30%;
    display: flex;
    justify-content: space-around;
}

.btns button{
    color: rgba(255, 166, 0, 0.966);
    height: 80px;
    width: 200px;
    border-radius: 10px;
}

.btn-line2 button{
    border: solid 0px #ae5e9b;
}

.btn-line3 button{
    position: relative;
}

.btn-line3 button .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    
}

.btn-line3 button span span{
    display: block;
    width: 224px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: #ae5e9b;
    border-radius: 20px;
}

footer{
    position: relative;
    text-align: right;
    height: 15%;
    background-color: dimgray;
}

footer p{
    position: absolute;
    margin-top:  0;
    margin-bottom: 0;
    color: white;
    right: 5%;
    bottom: 0;    
}